# if 
# if else
# if elif else
# nested if

In [14]:
if True:
    print('Data science')

Data science

In [16]:
if True:
print('Data science') # here give indentation error

IndentationError: expected an indented block after 'if' statement on line 1 (779896709.py, line 2)

In [18]:
if False:
    print('data science')
print('bye for now')

bye for now

In [20]:
if True:
    print('data science')
print('bye for now')

data science
bye for now

In [22]:
if True:
    print('data science')
else:
    print('bye for now')

data science

In [24]:
if False:
    print('data science')
else:
    print('bye for now')

bye for now

In [26]:
# write python program to check the number is even or odd
x=4
r= x%2
if r==0:
    print('Even number')

Even number

In [28]:
x=5
r= x%2
if r==0:
    print('Even number')

In [30]:
x=5
r= x%2
if r==0:
    print('Even number')
if r==1:
    print('Odd Number')

Odd Number

In [32]:
x=6
r=x%2
if r==0:
    print('Even Number')
print('Odd Number')

Even Number
Odd Number

In [34]:
x=4
r=x%2
if r==0:
    print('Even Number')
if r==1:
    print('Odd Number')

Even Number

In [36]:
x=5
r=x%2
if r==0:
    print('Even Number')
else:
    print('Odd Number')

Odd Number

In [38]:
x=5
r=x%2
if r==0:
    print('Even Number')
if r !=0:
    print('Odd Number')

Odd Number

# for 1 condition -- if else 1 time only

# if condition are>1 then we write nested  if

In [41]:
x=3
r=x%2
if r ==0:
    print('Even Number')
    if x>5:
        print('Greater Number')
else:
    print('Odd Number')

Odd Number

In [43]:
x = 10
r = x%2
if r ==0:
    print('Even Number')
    if x>5:
        print('Greater Number')

else:
    print('Odd Number')

Even Number
Greater Number

In [45]:
x = 2  #if inside if is called nested if
r = x%2
if r ==0:
    print('Even Number')
    if x>5:
        print('Greater Number')
    else:
        print('Lesser Number')

else:
    print('Odd Number')

Even Number
Lesser Number

# we do concept of (IF-ELIF-ELSE) e.g. i want to print(1-->one, 2-->two, 3--> three, 4-->four, 5-->five)

In [48]:
x = 1
if x==1:
    print('one')
if x==2:
    print('two')
if x==3:
    print('three')
if x==4:
    print('four')
if x==5:
    print('five')

one

In [50]:
x = 50
if x==1:
    print('one')
elif x==2:
    print('two')
elif x==3:
    print('three')
elif x==4:
    print('four')
else:
    print('Number not found')

Number not found

In [52]:
# Loops: in programing world some time we keep on repeating, may be you want to repeat 5 statement so one way is copy & paste multiple times or other way is 
# if  you want to print the datascience 1000 times then what you cant copy for 1000 times, if you want to print 1000 times then you can't do manually. that is the reason why we need to apply loop-->
# two type of loops--> 1) while loop and 2) for loop

In [54]:
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')

Data Science
Data Science
Data Science
Data Science
Data Science

In [56]:
i = 1 # initializing
while i<=5: # condition
    print('Data Science')
    i = i + 1 # incremental

Data Science
Data Science
Data Science
Data Science
Data Science

In [58]:
i = 5 # initializing
while i>=1:  #condition
    print('Data Science')
    i = i - 1 # decremental

Data Science
Data Science
Data Science
Data Science
Data Science

In [60]:
i = 1  #initializing
while i<=5: #condition
    print('Data Science :', i)
    i = i + 1 #best way of incremental

Data Science : 1
Data Science : 2
Data Science : 3
Data Science : 4
Data Science : 5

In [62]:
i = 5  #initializing
while i>=1: #condition
    print('Data Science :', i)
    i = i - 1 #best way of decremental

Data Science : 5
Data Science : 4
Data Science : 3
Data Science : 2
Data Science : 1

In [64]:
# can we use multiple while loop|| nested while loop to understand nested while indepth understand you can use pychram debug with f8 option

In [66]:
i = 1
while i<=5:
    print('Data Science')  # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('Technology')
        j = j + 1
    i = i + 1
    print()

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

In [80]:
i = 1
while i<=5:
    print(' Data Science', end =  "")
    j = 1
    while j<=4:
        print(' Technology', end = "")
        j = j + 1
    i = i + 1
    print()

 Data Science Technology Technology Technology Technology
 Data Science Technology Technology Technology Technology
 Data Science Technology Technology Technology Technology
 Data Science Technology Technology Technology Technology
 Data Science Technology Technology Technology Technology

In [86]:
i = 1
while i<=2:
    j = 0
    while j <=2:
        print(i*j, end=" ")
        j +=1
    print()
    i+=1

0 1 2
0 2 4

In [88]:
i = 1
while i<=4:
    j=0
    while j<=3:
        print(i*j, end= " ")
        j+=1
    print()
    i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [90]:
# For Loop-
# normally while loop it work with iteration or creation some condition but for loop it will work with sequence (list, string, int)

In [92]:
name = 'nit'
for i in name:
    print(i)

n
i
t

In [94]:
name1 = [1,3.5, 'hello'] # i want print the value individualy
for i in name1:
    print(i)

1
3.5
hello

In [96]:
range(5)

range(0, 5)

In [98]:
for i in range(5): 
    print(i)

0
1
2
3
4

In [109]:
for i in range(1,10,3):
    print(i)

1
4
7

In [113]:
# write a programm to print 5 multiplication table

for i in range(1,51):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

BREAK STATEMENT- If you apply break statement in a loop then it will end the loop
# Pass = skips block of code(function, class etc)
# Continue = skips 1 step/iteration during loop
# Break = jumps out of the function/loop

In [4]:
for i in range(1,11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [6]:
for i in range(1,11):
    if i ==7:  # continue the loop exclude number which is aliened here
        continue
    print(i)

1
2
3
4
5
6
8
9
10

In [12]:
 for i in range(1,11):

SyntaxError: incomplete input (3539990920.py, line 1)

In [14]:
 for i in range(1,11):
     pass

# you need to print the number from 1 to 50 but don't print the number which is divisible by 3 or 5

In [23]:
for i in range(1,51):
    if i%3==0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [25]:
for i in range(1,51):
    if i%5==0:
        print(i)
print('end')

5
10
15
20
25
30
35
40
45
50
end

In [27]:
for i in range(1,51):
    if i%3==0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [36]:
for i in range(1,51):
    if i%3==0 or i%5==0:
        continue
    print(i)
#print('end')
# it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [38]:
for i in range(1,51):
    if i%3==0 and i%5==0:
        continue
    print(i)
print('end')
# it will skip all the value which is divisible by 3 or 5

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
50
end

In [52]:
for i in range(1,5):  # first way or condition
    i=i+1 
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [56]:
for i in range(1,5): # second way or condition
    if i<=5:
        print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [58]:
for j in range(4):
    print('#')

#
#
#
#

In [60]:
for j in range(4):
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [62]:
for j in range(4):
    print('#', end=" ")

# # # #

In [64]:
for i in range(4):
    for j in range(i+1):
        print('#', end=" ")
    print()

#
# #
# # #
# # # #

In [68]:
for i in range(1,5):
    print("# "*i)

#
# #
# # #
# # # #

In [74]:
for i in range(1,5):
    for j in range(4):
        if i>j:
            print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [76]:
for i in range(4):
    for j in range(4-i):
        print('#', end=" ")
    print()

# # # #
# # #
# #
#

# For else:-
   # For|Else in python
   # In other language for else not supportable but in python it is supportable
# e.g:- lets print the number from 1-20 & we dont want print number which is divisible by 5

In [12]:
nums = [12,15,18,21,26,30,40]

for num in nums:
    if num%5==0:
        print(num)

15
30
40

In [14]:
nums = [12,14,18,21,25,30,35]

for num in nums:
    if num%5==0:
        print(num)

25
30
35

In [18]:
nums = [12,14,18,21,20,25]  # here check 12,14,18,21 this test case is faile after go to 20 this case is satisfy then print 20 and break the loop

for num in nums:
    if num%5==0:
        print(num)
        break

20

In [25]:
nums = [7,14,18,21,23,27] #here is no number which is divisible by 5 we got output as blank

for num in nums:
    if num%5==0:
        print(num)
        break

In [33]:
nums = [7,14,18,21,23,27,29] # here there is no number which is divisble by 5 we got output as Number Not Found

for num in nums:
    if num%5==0:
        print(num)
        break
else:
 print('Number Not Found') # every iteration it checking condition.

Number Not Found

# ðŸ‘†upper code is  example of for else statement

# how to check given number is prime number or not

In [47]:
num = 14

for i in range(2,num):
    if num%i==0:
        print('Not Prime Number')
        break
else:
    print('Prime Number')

Not Prime Number

In [49]:
num = 13

for i in range(2,num):
    if num%i==0:
        print('Not Prime Number')
        break
else:
    print('Prime Number')

Prime Number